.card1,.card2{
    border:2px solid #000000;
    padding: 10px 13px 10px 15px;
    margin:10px;
    background-color: cyan;
    text-align: center;
}
.parent{
    display:flex;
    justify-content: center;
}
img{
    width:200px;
    height:250px;
    border : 2px solid black;
}
