.parent{
    display : flex; 
}
.pd{
    border: 2px solid #000000;
    padding: 2px;
    margin: 2px;
}
.od{
    border: 2px solid #000000;
    padding: 2px;
    margin: 2px;
}
table,td,tr,th{
    border: 2px solid #000000;
    border-collapse: collapse;
}

@media screen and (max-width:425px){
    .parent{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .pd{
        background-color: grey;
    }
    .od{
        background-color:yellow;
    }
}